<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.4.0/css/bootstrap.min.css">
    <title>SwitchMaster</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="navbar-brand" href="/">SwitchMaster</a>
            </li>
        </ul>
    </div>
</nav>


<div class="container mt-3">
    {% block content %}{% endblock %}

    <hr/>
    <a href="/">SwitchMaster</a>
    &middot;
    <a href="https://phabricator.wikimedia.org/tag/tool-switchmaster/" class="text-muted">
        report issues</a>
    &middot;
    <a href="https://gitlab.wikimedia.org/toolforge-repos/switchmaster" class="text-muted">
        source code</a>
    &middot;
    <a href="https://wikitech.wikimedia.org" class="text-muted">
        wikitech.wikimedia.org</a>
</div>
</body>
</html>
