{% extends "base.html" %}
{% block content %}

    <form action="/decommission" method="post">
        <div class="form-group">
            <label for="ticket">Ticket</label>
            <input type="text" pattern="T[0-9]+" placeholder="T12345" id="ticket" name="ticket" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary">Get info</button>
    </form>
{% endblock %}
