{% extends "base.html" %}
{% block content %}
This is a helper for DBAs.
<ul class="list-group">
    <li class="list-group-item">
        <a href="/schedule">Schedule</a>
    </li>
    <li class="list-group-item">
        <a href="/decommission">Decommission</a>
    </li>
</ul>
{% endblock %}