{% extends "base.html" %}
{% block content %}

    <form action="/schedule" method="post">
        <div class="form-group">
            <label for="section">section name</label>
            <input type="text" pattern="[a-z][a-z]?[1-9]" placeholder="s2" id="section" name="section" class="form-control">
        </div>
        <div class="form-group">
            <label for="section">Password</label>
            <input type="password" id="password" name="password" class="form-control">
        </div>
        <div class="form-group">
            <select class="ui selection dropdown" name="dc">
                <option value="eqiad">eqiad</option>
                <option value="codfw">codfw</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Schedule</button>
    </form>
{% endblock %}
